p {
    font-size: 100px;
    color: blue;
}

#hello img {
    display: flex;
    margin: auto auto;

}

img {
    display: flex;
    margin: auto auto;
  
}

.image img {
    display: flex;
    margin: auto auto;

}

.button {
    font-size: 14px;
    border-radius: 3px;
    color:blueviolet;
    position: relative;
    left: 500px;
}

