html {
 width: 100%;
 height: 100%;
 overflow:hidden;
}



ul{
    width: 95%;
    height: auto;
    margin: 0;
}
li {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

body {
    height: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    top: -8px;
    margin: 0px;
    
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    
}



p {
    font-size: 100px;
    color: blue;
}

.textbox-button-container {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 140px;
    width: 1880px;
    padding: 20px;
    width: 582px;
    max-width: 584px;
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.textbox{
background-color: transparent;
border: none;
margin: 0;
  
padding: 0;
color: rgba(0,0,0,.87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
margin-top: -37px;
height: 34px;
font-size: 16px;
}


.HeaderContainer {
    position: relative;
    width: 100vw;
    height: 60px;
    padding: 6px;
    flex-shrink: 0;
    box-sizing: border-box
}

.HeaderBar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 1920px;
    height: 48px;
    padding: 6px;
   
}

.logo-container {
    height: 30vh;
    min-height: 92px;
    max-height: 290px;
    
}   

.logo-containerv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoFlexChanges{
    
    box-sizing: border-box;
    justify-content: flex-end;
}



 .button-container-contain {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    top: 53px;
    height: 70px;
} 

/*.button-container {
    max-height: 364px;
    display: flex;
    flex-direction: row;
    align-items: center;
}*/


.buttonSearch {
    
    font-size: 14px;
    font: arial, sans-serif;
    background-color: #f8f9fa;
    width: 127.367px;
    height: 36px;
    object-position: center center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px;
    border-radius: 4px;
    margin: 11px 4px;
    
}

.buttonLucky {
    font-size: 14px;
    font: arial, sans-serif;
    background-color: #f8f9fa;
    height: 36px;
    padding: 0 16px;
    border: 1px;
    border-radius: 4px;
    margin: 11px 4px;
    min-width: 54px;
    line-height: 27px;
    
}

.fit {
    object-fit: contain;
    object-position: center center;
    text-align: center;
}
    
.textbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:1920px;
    width:140px;
    padding: 20px;

}

/*form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    object-position: center bottom;
}*/

.center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;

}

.positionbottom {
    position: relative;
    display: flex;
    justify-content: center;
    top: 53px;
    z-index: 0;
}

.searchboxcenter{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.searchbox {
    width: 584px;
    height: 44px;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-top: 6px;
    
}

.searchbox:hover {
background-color: #fff;
box-shadow: 0 1px 6px rgba(32,33,36,.28);
border-color: rgba(223,225,229,0);
border-radius: 24px;
}

.IconContainer {
height: 54px;
}

.IconPosition {
    margin-top: 13px;
    margin-left: 13px;

    }

.material-icons{
    display: flex;
    align-items: center;
    height: 50px;
    color: #9aa0a6;
    font-size: 20px;
    

}
 .headernavbarposition{
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
 }

#font18 {
    font-size: 20px;
}

#font18app {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 6px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lnXdpd {
    
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.MalaysiaFooterContainer {
min-height: 49px;
max-height: 49px;
background-color:  #f2f2f2;
}
.Malaysia {
    display: flex;
    flex-direction: row;
    object-position: center;
    position:relative;
    padding: 20px;
    padding-left: 30px;
    border-bottom: solid 1px #dadce0;
}
.EndFooterContainer {
min-height: 49px;
max-height: 49px;
background-color:  #f2f2f2;

}

.End {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    position:relative;
    padding-top: 5px;
}

.li1 {
    display: inline;
    float: left;
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 8px;
    
}

.padding0{
    padding-left: 22px;
    margin-top: 4px;
    

}